<head>
    <link rel="shortcut icon" href="media/favicon2.png">
    <link rel="stylesheet" type="text/css" href="stylesheets/achtung.css">
    <title>Achtung</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="javascripts/welcome.js"></script>
</head>
    
<body>
    <h1 style="margin-top:-50px;">Willkommen</h1>
    <img src="media/ampelmann-red.png" alt="Red ampelmann" height="500" width="500">
    <br>
    <br>
    <h2>You are not logged in.</h2><br>
    <button onClick="window.location = './?choice=2';">Log in</button><br><br>
    <button onClick="window.location = './?choice=1';">Continue as guest user</button>
    <p>Note: If you choose to continue as a guest, many features will be restricted, and your data will not be saved. Additionally, you may only view five pages of the website. Please log in to access the main features.</p>
</body>