<head>
    <link rel="shortcut icon" href="media/favicon2.png">
    <link rel="stylesheet" type="text/css" href="stylesheets/achtung.css">
    <title>Please log in</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
    
<body>
    <h1 style="margin-top:-50px;">Halt!</h1>
    <img src="media/ampelmann-red.png" alt="Red ampelmann" height="500" width="500">
    <br>
    <br>
    <h2>You have viewed too many pages.</h2>
    <h2>Now, you must log in.</h2><br>
    <button onClick="window.location = './?choice=2';">Log in</button><br><br>
</body>
