    <head>
        <link rel="shortcut icon" href="media/favicon2.png">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <title>Your weather forecast</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>
    
    <body>
        <div id="navbar"></div>
        
        <h2>{{header}}</h2>
        {{#each fact}}
            {{this}}
            <br>
        {{/each}}
        <br>
    </body>

<script src="javascripts/standard.js" id="weather"></script>