<head>
    <link rel="shortcut icon" href="media/favicon2.png">
    <link rel="stylesheet" type="text/css" href="stylesheets/achtung.css">
    <title>Nice try</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
    
<body>
    <h1 style="margin-top:-50px;">Nice try.</h1>
    <img src="media/laugh.jpg" alt="You are stupid">
    <br>
    <br>
    <h2>Guests cannot log out.</h2><br>
    <button onClick="window.location = './?choice=2';">Log in</button><br><br>
    <button onClick="window.location = './';">Return to content</button>
</body>
