    <head>
        <link rel="shortcut icon" href="media/favicon2.png">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <title>Vote</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>

    <body>
        <div id="navbar"></div>
        
        <h1>Favorite Alaskan governor</h1>
        
        <h2 id="p-main" onload="fetchFromServer()">
            <br>
            <br>
            <br>
        </h2>
    
    <p>Guests cannot vote. If you want to vote, please log in.</p>
    <button onClick="window.location = './?choice=2';">Log in</button><br><br>
    </body>
    <script src="javascripts/poll.js" id="{{sarah}}"></script>
    <script src="javascripts/standard.js" id="poll"></script>
    