    <head>
        <link rel="shortcut icon" href="media/favicon2.png">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <title>Your profile</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>

    <body>
        <div id="navbar"></div>
        
        <h1>Your profile</h1>
        <img src="profilePicture" alt="Your picture" height="300">
        <ul>
            <li>Full name: {{name}}</li>
            <li>Map quiz score: {{score}}</a></li>
            <li>Favorite Alaskan governor: {{vote}}</li>
            <li>IBET: {{ibet}}</li>
        </ul>
    </body>

<script src="javascripts/standard.js" id="profile"></script>