    <head>
        <link rel="shortcut icon" href="media/favicon2.png">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <title>IBET scores</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="javascripts/canvasjs.min.js"></script>
        <script src="javascripts/scores.js"></script>
    </head>

<body>
    <div id="navbar"></div>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <br>
    <h2>Earn points for your IBET by visiting pages, playing the map game, and more!</h2>
    <h2>Your IBET is: {{ibet}}</h2>
    <br>
    <button id="switchButton" type="button" onclick="doSwitch()">Switch to list mode</button>
</body>

<script src="javascripts/standard.js" id="scores"></script>
